/node_modules
/dist
/.idea
/.sass-cache
/src/css/.sass-cache
/src/css/*.css
/src/css/*.css.map
*log
**/.DS_Store
/src/entry/weex
/src/entry/web
/release
/platforms
/package-lock.json
/publish.zip
/publish

