/.sass-cache
/assets
/build
/dist
/publish
/node_modules
/config.js
/publish.zip
/.idea
/src/css/.sass-cache
*log
**/.DS_Store
/.babelrc
/.eslintrc
/.gitignore
/.npmignore
/index.html
/webpack.config.js
/weex.html

/src/entry
/src/js/mixins.js
/src/views
/src/image