@import "_var";
@import "_mixin";
@include b(tab-bar){
	display: flex;
	flex-direction: row;
	flex-wrap : no-wrap;
	align-items: center;

	@include e(item){
		padding: 10px;
		display: flex;
		align-items: center;
	}
	@include e(image){
		
	}
	@include e(text){
		margin-top: 10px;
		lines: 1;
		text-overflow: ellipsis;


	}
}