@import "common";

.bui-actionsheet-box {
  position: fixed;
  left: 0px;
  right: 0px;
  margin: $nb50;
  margin-top: 0px;
  flex-direction: column;
  overflow: hidden;
}

.bui-actionsheet-top {
  border-radius: $nb10;
  overflow: hidden;
  background-color: $color_white;
}

.bui-actionsheet-bottom {
  margin-top: $nb15;
}

.bui-actionsheet-title {
  padding: $nb30;
  text-align: center;
  font-size: $nb28;
  color: $color_subtitle;
}

.bui-actionsheet-content {
  flex-direction: column;
  flex: 1;
}

.bui-actionsheet-list {
  border-top-width: 1px;
  border-top-color: $color_border;
  padding: $nb30;
  text-align: center;
  font-size: $nb34;
  color: $color_primary;
}

.bui-actionsheet-list:active {
  background-color: $color_default;
}

.bui-actionsheet-btn {
  font-size: $nb34;
  color: $color_primary;
  font-weight: bold;
  background-color: $color_white;
  padding: $nb30;
  text-align: center;
  border-radius: $nb10;
}

.bui-actionsheet-btn:active {
  background-color: $color_default;
}