.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.flex-fluid {
  flex-wrap: wrap; }

.center {
  justify-content: center;
  align-items: center; }

.column-center-top {
  align-items: center; }

.column-center-bottom {
  justify-content: flex-end;
  align-items: center; }

.column-center-left {
  justify-content: center;
  align-items: flex-start; }

.column-center-right {
  justify-content: center;
  align-items: flex-end; }

.column-left-top {
  justify-content: flex-start;
  align-items: flex-start; }

.column-right-top {
  justify-content: flex-start;
  align-items: flex-end; }

.column-left-bottom {
  justify-content: flex-end;
  align-items: flex-start; }

.column-right-bottom {
  justify-content: flex-end;
  align-items: flex-end; }

.row-space-between {
  justify-content: space-between;
  align-items: center; }

.row-center-top {
  justify-content: center;
  align-items: flex-start; }

.row-center-bottom {
  justify-content: center;
  align-items: flex-end; }

.row-center-left {
  justify-content: flex-start;
  align-items: center; }

.row-center-right {
  justify-content: flex-end;
  align-items: center; }

.row-left-top {
  justify-content: flex-start;
  align-items: flex-start; }

.row-right-top {
  justify-content: flex-end;
  align-items: flex-start; }

.row-left-bottom {
  justify-content: flex-start;
  align-items: flex-end; }

.row-right-bottom {
  justify-content: flex-end;
  align-items: flex-end; }

.span1 {
  flex: 1; }

.span2 {
  flex: 2; }

.span3 {
  flex: 3; }

.span4 {
  flex: 4; }

.span5 {
  flex: 5; }

.span6 {
  flex: 6; }

.span7 {
  flex: 7; }

.span8 {
  flex: 8; }

.span9 {
  flex: 9; }

.span10 {
  flex: 10; }

.span11 {
  flex: 11; }

.span12 {
  flex: 12; }

.p-r {
  position: relative; }

.p-a {
  position: absolute; }

.btn {
  height: 100px;
  line-height: 100px;
  font-size: 34px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px; }

.btn-primary {
  background-color: #3399ff;
  color: #ffffff; }

.btn-primary:active {
  background-color: #3091f2; }

.btn-success {
  background-color: #00cc66;
  color: #ffffff; }

.btn-success:active {
  background-color: #00c277; }

.btn-info {
  background-color: #5da3f6; }

.btn-info:active {
  background-color: #3399ff; }

.btn-warning {
  background-color: #ff9900;
  color: #ffffff; }

.btn-warning:active {
  background-color: #f38c00; }

.btn-danger {
  background-color: #ff4e24;
  color: #ffffff; }

.btn-danger:active {
  background-color: #fa3300; }

.btn-disabled {
  background-color: #d9e1ec;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e3df;
  color: #9ea7b4; }

.btn-default {
  background-color: #f5f5f5;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e3df; }

.btn-default:active {
  background-color: #e5e3df; }

.bui-list {
  flex: 1; }

.bui-cell {
  flex-direction: row;
  align-items: center;
  height: 100px;
  border-bottom-width: 1px;
  border-bottom-color: #d7dde4;
  border-bottom-style: solid; }

.bui-cell:active {
  background-color: #f5f5f5; }

.bui-cell-large {
  flex-direction: row;
  align-items: center;
  height: 120px;
  border-bottom-width: 1px;
  border-bottom-color: #d7dde4;
  border-bottom-style: solid; }

.bui-cell-large:active {
  background-color: #f5f5f5; }

.bui-cell-xlarge {
  flex-direction: row;
  align-items: center;
  height: 140px;
  border-bottom-width: 1px;
  border-bottom-color: #d7dde4;
  border-bottom-style: solid; }

.bui-cell-xlarge:active {
  background-color: #f5f5f5; }

.bui-list-left {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px; }

.bui-list-main {
  padding-left: 20px;
  flex: 1;
  justify-content: center; }

.bui-list-right {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 20px; }

.bui-list-title {
  font-size: 34px;
  color: #464c5b;
  text-overflow: ellipsis;
  lines: 1; }

.bui-list-subtitle {
  font-size: 30px;
  color: #9ea7b4;
  text-overflow: ellipsis;
  lines: 1; }

.bui-list-thumb {
  width: 80px;
  height: 80px; }

.bui-list-action {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px; }

/*# sourceMappingURL=buiweex.css.map */
