@import "common";

.bui-dropdown{
}

.bui-dropdown-box{
  position: fixed;
  opacity: 0;
  transform: scale(0.9, 0.9);
}

.bui-dropdown-content{
  position: relative;
  margin-top: $nb40;
  border-radius: $nb10;
  flex-direction: column;
  overflow: hidden;
  padding: 15px;
  flex-direction: column;
  flex: 1;
}

.bui-dropdown-arrow{
  position: absolute;
  top: 1px;
}
