@import "common";

.bui-flow-box{
  padding-top: 28px;
  padding-bottom: 24px;
  background-color: #ffffff;
}
.bui-flow-list{
  flex-direction: row;
  padding-left: 70px;
  padding-right: 70px;
}
.bui-flow-header{
  height: 40px;
}
.bui-flow-main{
  padding-top: 9px;
  padding-bottom: 42px;
}
.bui-flow-line{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 38px;
  width: 2px;
  background-color: #f0f0f0;
}

.bui-flow-header-point{
  position: absolute;
  top: 13px;
  left: 32px;
  width: 14px;
  height: 14px;
  background-color: #c4c4c4;
  border-style: solid;
  border-width: 2px;
  border-color: #cfcfcf;
  border-radius: 100px;
}
.bui-flow-header-title{
  font-size: 30px;
  color: #3d3d3d;
}
.desc-text, .desc-date {
  font-size: 24px;
  color: #a5a5a5;
}
.desc-text{
  margin-bottom: 12px;
}

.highlight-point {
  top: 7px;
  left: 26px;
  width: 26px;
  height: 26px;
  background-color: #3399ff;
  border-style: solid;
  border-width: 6px;
  border-color: #b9dcff;
}
.text-highlight-title {
  color: #3399ff;
}