@charset "UTF-8";

@import "common";

//标题栏
.bui-header-box{

}
.bui-header{
  flex: 1;
  padding-left:$nb20;
  padding-right: $nb20;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bui-header-left{
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: $nb20;
  top: 0;
  bottom: 0;
}

.bui-header-main{
  flex: 1;
  justify-content: center;
  padding-left: $nb10;
  padding-right: $nb10;
  flex-direction: row;
}

.bui-header-right{
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: $nb20;
  top: 0;
  bottom: 0;
}

.bui-header-title{
  font-size: $nb34;
  text-align: center;
  lines:1;
  text-overflow:ellipsis;
}
.bui-header-text{
  font-size: $nb32;
  text-align: center;
  lines:1;
}


