@import "common";

.bui-slider-bar-box{
  position: fixed;
  width: 600px;
  top: 0px;
  bottom: 0px;
  background-color: $color_white;
  flex-direction: column;
}
.bui-left-slider-bar-box{
  left: -600px;
}
.bui-right-slider-bar-box{
  right: -600px;
}

.bui-slider-content{
  flex-direction: column;
  flex: 1;
}